* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 0.5em;
  display: flex;
  gap: 1ch;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  font-style: italic;
}

nav a.active {
  text-decoration: underline;
}

article {
  flex: 1;

  text-transform: uppercase;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background: #b05f6d;
}

.blue {
  background: #275db3;
}